body {
  margin: 0;
  background-color: rgb(150, 216, 216);
  font: italic 15px arial;
}

header {
  text-align: center;
}
section {
  margin: 0 auto;
  padding: 10px;
  width: 500px;
  background-color: aliceblue;
  border-radius: 12px;
  box-shadow: 6px 5px 5px rgba(0, 0, 0, 0.473);

}


footer {
  text-align: center;
}
